@import url('/css/pages/components/modalContact.css');
@import url('/css/pages/components/ligthboxModal.css');
@import './utils/mixins.scss';

main {
    position: relative;
}

.photograph-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    height: 300px;
    margin: var(--margin-lat);
    padding: var(--margin-lat);

    div {

        align-items: flex-start;
        gap: 10px;

        h1 {
            color: var(--text-color-prim);
            font-size: 36px;
        }

        p {
            align-items: flex-start;
            gap: 5px;

            :nth-child(1) {
                color: var(--text-color-sec);
                font-size: 20px;
            }

            :nth-child(2) {
                color: var(--text-color-third);
                font-size: 16px;
            }
        }

    }

    .contact_button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.7);
        @include button-contact;

    }

    img {
        height: 180px;
        width: 180px;
        border-radius: 180px;
        object-fit: cover;
    }
}

.media-galery {
    margin: var(--margin-lat);
    margin-top: 50px;
    margin-bottom: 100px;

    label {
        select {
            padding: 8px 12px;
            border-radius: 2px;
            cursor: pointer;
            background-color: var(--color-prim);
            color: white;
            border: none;
            margin-left: 25px;

            &:hover,
            &:focus {
                outline: none;
            }

        }


    }

    .galery-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 30px;

        a {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 300px;
                border-radius: 5px;
                object-fit: cover;
            }

            video {
                width: 100%;
                height: 300px;
                border-radius: 5px;
                object-fit: cover;
            }
        }

        p {
            width: 100%;
            color: var(--text-color-sec);

            button {
                border: none;
                background-color: white;
                color: var(--text-color-sec);
                cursor: pointer;
            }
        }

    }
}

.userInfo {
    height: 50px;
    width: 20%;
    position: fixed;
    bottom: 0px;
    right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-third);
    border-radius: 5px;
}