#ligthbox {
    display: none;
    position: absolute;
    top: 0%;
    height: 100%;
    width: 100%;
    background-color: white;

    .light-wrapper {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .content-lightbox {
            display: flex;
            flex-direction: column;
            height: 600px;
            width: 600px;

            .content {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }

        .close-ligthbox {
            position: absolute;
            top: 8%;
            right: 0%;
            cursor: pointer;
            border: none;
            background-color: transparent;

            i {
                font-size: 50px;
                color: var(--color-prim);
            }
        }

        .btn-prev {
            margin-right: 20px;

            &::after {
                content: "<";
                font-size: 100px;
                color: var(--color-prim);
            }
        }

        .btn-post {
            margin-left: 20px;

            &::after {
                content: ">";
                font-size: 100px;
                color: var(--color-prim);
            }
        }

        .ligth-desc {
            color: var(--color-prim);
        }
    }


}