.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-centre {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}